body {
    background-color: black;
}

.main-container {
    background-color: #F5F5F5;
    width: 800px;
    min-height: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h1 {
    color: #a69c9c6f;
}

.todos {
    background-color: #FEFEFE;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0  10px 5px #888888;
}

input {
    height: 50px;
    border: none;
}

.col {
    color: black;
    text-align: left;
}

button {
    color: red;
    border: none;
    background-color: #FEFEFE;
}

.col-6 {
    text-align: right;
}

.row {   
    margin: 20px 1px 0 1px;
    border-bottom: 1px solid #a69c9c6f;
}

.bottom-box {
    width: 490px;
    height: 7px;
    background-color: #FEFEFE;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #888888;
    box-shadow: 5px  10px 18px #888888;
}

.bottom-box2 {
    width: 480px;
    height: 6px;
    background-color: #FEFEFE;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #888888;
    box-shadow:  5px  10px 18px #888888;
}

.numberOfTask {
    color:  #a69c9c6f;
    text-align: left;
    padding: 2px;
    margin: 2px;
}
